body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

form {
  margin-bottom: 20px;
}

input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

#todos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

#todos li .checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#todos li .checkbox-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

#todos li button {
  width: 80px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#todos li button:hover {
  background-color: #ff1a1a;
}

.edit-button {
  background-color: orange;
}

.edit-button:hover {
  background-color: darkorange;
}

#todos li .delete-button {
  background-color: #ff4d4d;
}

#todos li .delete-button:hover {
  background-color: #ff1a1a;
}